{% extends "layout.html" %}

{% block title %}
Andrea Pastor - Product and Design portfolio
{% endblock %}

{% block main %}

<!-- Hero -->
<div class="section-hero" id="gerrard-street">
  <div class="container">
    <img src="../../static/img/Gerrard Street-hero.jpg" alt="Service concept card">
  </div>
</div>

<!-- Introduction -->
<div class="section-introduction">
  <div class="container">

    <h1>Augmenting the everyday listening experience</h1>
    <p class="highlight">Gerrard Street headphones subscription</p>

    <div class="overview">

      <div class="summary">
        <div class="content-text">

          <h2>Overview</h2>
          <p>Gerrard Street is a high-end headphone service in the Netherlands, characterized by its Product-as-a-Service (PaaS) business model and by its modular design.
            <br>
            Many users perceive Gerrard Street’s service as the headphones themselves, and when considering the subscription in the long term, users begin to question whether it is better to stop the service and buy other headphones instead.</p>
          <h3>Goal</h3>
          <p>Understand and analyze the headphone subscription-based service offered by Gerrard Street to identify opportunities to improve or expand their service offering.</p>
          <h3>Outcome</h3>
          <p>Two final service concepts: a customization platform leveraging Gerrard Street's modular design; and a digital interface (through a mobile application) to personalize and improve sound quality, leveraging AI to learn and provide modifications based on preferences, activity, and environment.</p>
        </div>
      </div>

      <div class="process">
        <div class="content-text">

          <h4>My role</h4>
          <p class="mini">Service designer</p>
          <h4>Methods</h4>
          <p class="mini">Desk research, in-depth interviews, surveys, synthesis wall, trend analysis, HMWs, ideation, brainstorm, Design Scorecard, journey map, storyboard, concept card, service blueprint, service offering, prototype.</p>
          <h4>Tools</h4>
          <p class="mini">Figma<br>Mural<br>Adobe Premiere Pro</p>
          <h4>Year</h4>
          <p class="mini">2020-2021</p>

          <p><a class="mini" target="_blank" href="../../static/files/Andrea Pastor Palacios - Gerrard Street.pdf">Read the full study →</a></p>

        </div>
      </div>
    </div>

    <div class="content-video">
      <video controls="">
        <source src="../../static/img/Gerrard Street Video.mp4" type="video/mp4">
      </video>
      <p class="caption">Concept video for the new solutions</p>
    </div>

  </div>
</div>

<!-- First section -->
<div class="section-grey">
  <div class="container">

    <div class="content-text">

      <h2>Reseach</h2>
      <p>This was my final project work for the Service Design Master from Politecnico di Milano. I chose the Gerrard Street service for its PaaS business model and circular and modular design. </p>
      <p>I started by exploring the users' experience of the service, the market and the competitors, and trends in the headphones industry. I then conducted primary research through surveys and in-depth interviews to further understand the users' experience and identify pain points or opportunities.</p>

      <h2>Insights</h2>
      <p>From all the data gathered I identified four key insights:</p>

      <ol>
        <li>Users don’t perceive the value of subscriptions in the long term</li>
        <li>Users want updates for the best and latest technology</li>
        <li>Users like having the flexibility to choose how good their tech is</li>
        <li>AI to augment the listening experience and expand usage</li>
      </ol>

      <p class="quote">Leasing leaves a bad taste with many people. They think they are not getting the best value, and suspect that this is a way for companies to just get more money from them.</p>
      <p>Dorus Galama, founder of Gerrard Street</p>

      <p>As expressed by the founder of the service, the subscription model is a barrier of the service. I decided to tackle this challenge and find ways to increase the value of the subscription, in order to increase the desirability of Gerrard Street for potential consumers and regular users in the long term.</p>

      <h2>Ideation</h2>
      <p>By facilitating an ideation workshop with headphones users and clustering the generated ideas, I generated 23 different possible solutions. By using the Service Design Scorecard framework I prioritized the ideas based on strategic value, desirability, viability and feasibility. The highest scoring ideas were:</p>

      <ol>
        <li>Personalized audio settings (based on use and on routine)</li>
        <li>Noise cancelling using AI</li>
        <li>Customizable parts and accessories</li>
      </ol>
    </div>

    <div class="content-single-image">
      <img src="../../static/img/gerrard street-ideation.png" alt="Image of the ideation workshop in Miro">
    </div>
    <p class="caption">Ideation workshop facilitated in Miro</p>

  </div>
  <!-- Section end div -->
</div>

<div class="section-white">
  <div class="container">

    <div class="content-text">

      <h2>Service concepts</h2>
      <p>I used storyboards and concept cards to explore the context in which the services could be used and the benefits offered to the consumer, and came up with two design concepts.</p>

      <h3>A customization platform, to give users flexibility and expand the usage of the headphones</h3>
      <p>The customization platform leverages Gerrard Street’s modular design and allows users to select the individual parts they want in their headphones and build the ideal headphones for their specific needs.</p>
    </div>

    <div class="content-single-image">
      <img src="../../static/img/gerrard street-concept1img1.png" alt="Storyboard of the customizable platform">
    </div>
    <p class="caption">Storyboard of the customizable platform</p>

    <div class="content-text">

      <p>This solution creates more interaction with the brand as the subscription becomes more active through flexibility, upgrades, and additions. New parts and accessories also allow Gerrard Street to serve a more significant consumer base.</p>
    </div>

    <div class="content-single-image">
      <img src="../../static/img/gerrard street-concept1img2.png" alt="Screenshot of the customization website">
    </div>
    <p class="caption">Customization screen in Gerrard Street’s website</p>

    <div class="content-text">

      <h3><i>SONAR</i>, a sound personalization interface, to enhance the quality of sound based on user’s unique hearing and use</h3>
      <p><i>SONAR</i> lets users create a personal sound profile. The solution uses an AI algorithm and microphones in the headphones to test the users' hearing and then adapt frequencies and tones in every sound. The algorithm also learns from daily use, recognizing the activities (e.g., gaming) and locations (e.g., outdoors) where the headphones are used, to adapt sound and the noise-cancelling features according to the users' needs at the time. Additionally, users can train the AI to their particular preferences in sound, further improving sound quality.</p>
    </div>

    <div class="content-single-image">
      <img src="../../static/img/gerrard street-concept2img1.png" alt="Storyboard of the digital interface for personalization">
    </div>
    <p class="caption">Storyboard of the digital interface for personalization</p>

    <div class="content-text">

      <p>This solution extends the service's experience throughout the subscription, as sound can continuously be personalized and enhanced as the AI learns from the user.</p>
    </div>
    <div class="content-single-image">
      <img src="../../static/img/gerrard street-concept2img2.png" alt="Screens of the SONAR app">
    </div>
    <p class="caption">Screens of the <i>SONAR</i> app</p>

  </div>
  <!-- Section end div -->
</div>

<div class="section-grey">
  <div class="container">
    <div class="content-text">

      <h2>Key learnings</h2>
      <h3>Finding alternative routes to gather insights:</h3>
      <p>Gerrard Street is a relatively small service (at the time of the study) and I was having a difficult time finding users to interview. I took some alternative routes, finding users in communities of big cities in the Netherlands through different social media channels. I also decided to interview users of Gerrard Street’s main competitor, in order to gather insights about the subscription service in general. All in all, I found the information I needed to make an analysis and come up with well-grounded solutions. </p>
    </div>
  </div>

</div>
{% endblock %}
