{% extends "layout.html" %}

{% set title = "Creating valuable digital financial experiences in a Peruvian Bank" %}
{% set image = "/static/img/bank-cover.png" %}

{% block title %}
Andrea Pastor - Product and Design portfolio
{% endblock %}

{% block main %}

<!-- Hero -->
<div class="section-hero" id="interbank">
  <div class="container">
    <img src="../../static/img/interbank-hero.png" alt="Screens from the project">
  </div>
</div>

<!-- Introduction -->
<div class="section-introduction">
  <div class="container">

    <h1>Creating valuable digital financial experiences through Design</h1>
    <p class="highlight">Interbank</p>

    <div class="overview">

      <div class="summary">
        <div class="content-text">

          <h2>Overview</h2>
          <p>Interbank is one of the largest finantial institutions in Perú. It aims to improve it’s digital presense for clients and potential clients.</p>
          <h3>Goal</h3>
          <p>Lead the design and development process, find better and more efficient ways to work and develop the team skills and deliverables to identify opportunities for new solutions or changes to effectively deliver value.</p>
          <h3>Outcome</h3>
          <p>Improved and streamlined the process, empowered the team, improved communication and collaboration with the client and included Design practices lead to:</p>

          <ul>
            <li>Launch of the online sale flows. The website became the most important digital touchpoint, representing 60% of digital sales.</li>
            <li>Created several product simulators. Engagement and understanding of the products grew, increased leads.</li>
            <li>Redesign of the Help Center. Increased SEO and organic traffic.</li>
            <li>Restructure of the Information Arquitecture. Reduced bounce rate.</li>
          </ul>
        </div>
      </div>

      <div class="process">
        <div class="content-text">

          <h4>My role</h4>
          <p class="mini">Project Manager. Process improvement and product stratregy.</p>
          <h4>Methods</h4>
          <p class="mini">In-depth interviews, card sorting, tree testing, online surveys, benchmarking, wireframing, prototyping, affinity maps.</p>
          <h4>Tools</h4>
          <p class="mini">Invision, Figma, Principle, Hotjar, Optimal workshop</p>
          <h4>Team</h4>
          <p class="mini">2 UX designers, 2 UI designers, 3 front-end developers, 2 copywriters and 1 data analyst.</p>
          <h4>Year</h4>
          <p class="mini">2017-2019</p>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- First section -->
<div class="section-grey">
  <div class="container">

    <div class="content-text">

      <h2>Challenges</h2>
      <p>When I first joined the team there was not a clearly defined work process. This created a few challenges we needed to overcome:</p>

      <ul>
        <li><b>Waterfall-like work process.</b> Ideas went from UX to development without communication or collabolation between the team.</li>
        <li><b>Reactive solutions.</b> The team received requirements from the client without comming up with ideas of our own</li>
        <li><b>Low visibility and planning.</b> The client didn't know what we were working on and we didn't know what was prioritized for the future.</li>
      </ul>

      <p>Focusing on the low-hanging fruit I implemented some quick changes to streamline the work process, such as automating tasks, improving tool readability, and increasing collaboration with the client.</p>

    </div>
  </div>
  <!-- Section end div -->
</div>

<div class="section-white">
  <div class="container">

    <div class="content-text">

      <h2>Introducing design</h2>
      <p>Once a streamlined process was in place, the team and I could focus less on the day-to-day tasks and more on the creative problem-solving projects, and improve the quantity and quality of ideas we came up with. For this, I introduced a few Design practices.</p>

      <h3>Design Sprints</h3>
      <p>Design sprints were a good way to challenge the team and come up with better solutions in a short span of time. I got buy-in from the client and facilitated our first Design Sprint. The end result was well liked in our tests and the client was very happy with the process, wanting to work in the same manner more often.</p>

    </div>

    <div class="content-multiple-images">
      <img src="../../static/img/interbank-sprint1.jpg" alt="Inspiration-wall">
      <img src="../../static/img/interbank-sprint2.jpg" alt="Notes from experts">
      <img src="../../static/img/interbank-sprint3.jpg" alt="Sketches from our solutions">
    </div>
    <p class="caption">The Design Sprint in action.</p>

    <div class="content-text">
      <h3>More research</h3>
      <p>To be able to come up with with better ideas and with solutions of our own, we needed to get insights about how people used our services. After the Design Sprint the client was more open to the idea, which allowed us to use resources to create polls in the site, conduct interviews and workshops, and spend more time talking to other areas of the company that did research of their own as well.</p>
    </div>

  </div>
  <!-- Section end div -->
</div>

<div class="section-grey">
  <div class="container">
    <div class="content-text">

      <h2>Key learnings</h2>
      <h3>Perseverance is key</h3>
      <p>When I joined the team there were new ideas and ways of working that I wanted to introduce such as using scrum, trying a Design Sprint, conducting field research, rewriting our content, and some others. The team was very open to trying new things but the client was more cautious with the ideas. At first some were rejected, but I never gave up on them, finding ways to get buy-in and convince the client of why they were going to benefit them and the customer. By never giving up, the team and I were able to implement many solutions that resulted in positive outcomes and that we feel proud of.</p>
    </div>
  </div>
  {% endblock %}
