<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156985767-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156985767-1');
    </script>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <title>Andrea Pastor - Service Design Portfolio - Twill by Maersk</title>
    <meta name="description" content="I’m Andrea pastor, a service designer with a background in business and experience designing digital products. This is my Service Design Portfolio.">
    <meta name="keywords" content="Service, Design, Designer, Portfolio, Digital, Technology, Business, Product, Experience, UX, designer, solution">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Poppins:700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">

  </head>

  <body>

    <div id="wrapper">

      <!-- Header -->
      <header>
        <div class="container">
          <div class="header">

            <div class="logo">
              <a class="header header-logo" href="../index.html" onclick="gtag('event', 'Clicks', {'event_category': 'Header','event_label': 'Logo',});">Andrea Pastor</a>
            </div>

            <nav>
              <ul>
                <li><a class="header header-active" href="../index.html" onclick="gtag('event', 'Clicks', {'event_category': 'Header','event_label': 'Work',});">Work</a></li>
                <li><a class="header" href="../about.html" onclick="gtag('event', 'Clicks', {'event_category': 'Header','event_label': 'About',});">About</a></li>
              </ul>
            </nav>

          </div>
        </div>
      </header>

      <!-- Hero -->
      <div class="section-hero" id="twill">
        <div class="container">
          <img src="../img/twill-hero.jpg" alt="Web mockup for the final solution">
        </div>
      </div>

      <!-- Introduction -->
      <div class="section-introduction">
        <div class="container">

        <h1>Connecting companies along the supply chain to expand logistics</h1>
        <p class="highlight"> Twill by Maersk</p>

          <div class="overview">

            <div class="summary">
              <div class="content-text">

                <h2>Overview</h2>
                <p>Twill is a digital freight logistics service for small and medium-sized businesses (SMEs). It provides simple logistics and allows their customers to focus on their core. With the logistics sector starting a digitalization process and the competition (freight forwarders) heavily gaining market with SMEs, Twill needed to find other ways to reach and service their clients.</p>
                <h3>Goal</h3>
                <p>Generate a long-term service concept for Twill to find a potential market base of SMEs and create a value advantage.</p>
                <h3>Outcome</h3>
                <p>Two long term service concepts were developed and presented to the Maersk team: a Network service and an API integration with e-commerce platforms.</p>
              </div>
            </div>

            <div class="process">
              <div class="content-text">

                <h4>My role</h4>
                <p class="mini">Service designer<br>Team Leader</p>
                <h4>Methods</h4>
                <p class="mini">Desk research, in-depth interviews, case study research, opportunity canvas, ideation, brainstorm, journey map, service offering, prototype, roadmap, ecosystem map.</p>
                <h4>Tools</h4>
                <p class="mini">Figma<br>Mural</p>
                <h4>Year</h4>
                <p class="mini">2020</p>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- First section -->
      <div class="section-grey">
        <div class="container">

          <div class="content-text">

            <h2>Research</h2>
            <p>This was a two-week workshop with Twill by Maersk, organized by the Service Design Master from Politecnico di Milano. The teams were dividen in four; ours in charge of long term solutions. During the research phase we did in-depth interviews with 8 employees of the Twill and Maersk team to gather insights on customer behaviour and opportunities to approach new markets.
            </p>
            <p>Research goals:</p>

            <ol>
              <li>Understand current customer behaviour and pain points</li>
              <li>Define the needs of small and medium businesses regarding logistics</li>
              <li>Find opportunities to reach potential clients</li>
              <li>FUnderstand digital logistics services</li>
              <li>Determine Twill’s standards and limitations</li>
            </ol>

          </div>


          <div class="content-single-image">
            <img src="../img/twill-research.jpg" alt="Notes from in-depth interviews">
          </div>
          <p class="caption">Notes from in-depth interviews</p>

          <div class="content-text">
            <p>
              We did desk research to understand the trends of the digital logistics industry. We found case studies that integrate logistics with e-commerce solutions in a seamless way using technology. We found supporting data on e-commerce and identified an interesting and potential market to explore.
            </p>
          </div>

          <div class="content-text">

            <h2>Opportunity areas</h2>
            <p>
              With this information at hand, we identified three opportunity areas to explore.
            </p>
            <ul>
              <li>How might we help and encourage SMEs to expand their business?</li>
              <li>How might we get in contact with new businesses looking to compete globally?</li>
              <li>How might we use technology to improve end-to-end services?</li>
            </ul>

            <p>
              We wanted Twill to differentiate itself from other freight forwarders by helping SMEs with a topic other than logistics - but related to it -  and of much interest to them: expanding their businesses. If SMEs were growing, so would their logistics needs, and therefore Twill would get more business from them.
            </p>
          </div>

        </div>
      <!-- Section end div -->
      </div>

      <div class="section-white">
        <div class="container">
          <div class="content-text">

            <h2>Ideation</h2>

            <p>
              With these questions at hand, we started ideation with an individual brainstorming session followed by group reframing sessions. Two service ideas we selected. Both ideas were independent but benefited from each other.
            </p>

          </div>

          <div class="content-single-image">
            <img src="../img/twill-ideation.jpg" alt="Brainstorm cards with dot voting">
          </div>
          <p class="caption">Brainstorm cards with dot voting</p>

          <div class="content-text">
            <h2>Service concepts</h2>
            <p>After refining the ideas and a round of feedback with the Twill team we developed two service ideas.</p>

            <p>With positive feedback from the Twill team, we detailed the solutions and how they would work. We created the journey map, service offering, the ecosystem map and storyboards to communicate the idea, and an interactive prototype to be able to show how it would work first-hand.</p>
          </div>

          <div class="content-multiple-images">
            <img src="../img/twill-prototype.jpg" alt="Project mockup">
            <img src="../img/twill-offering.jpg" alt="Service offering">
            <img src="../img/twill-ecosystem.jpg" alt="Service ecosystem">
          </div>
          <p class="caption">Some deliverables of the project: An interactive prototype, a service offering and the service ecosystem.</p>

        </div>
      <!-- Section end div -->
      </div>

      <div class="section-grey">
        <div class="container">
          <div class="content-text">

            <h2>Key Learnings</h2>
            <h3>Communication, tools and leadership:</h3>
            <p>The project started during quarantine due to the COVID emergency. Working remotely was new and challenging, but keeping a good and healthy communication with the team and using tools that enabled collaboration facilitated the process. Also, as the project leader I was responsible for leading the team in the right direction and focusing our time when it was more necessary. Having had work-experience with leading bigger teams was a useful skill for this situation.</p>
            <h3>The importance of being prepared:</h3>
            <p>The Twill team was very interested in the concepts, particularly e-commerce integration. They asked many questions about the service idea, why we chose this route, how it would work, and how it would benefit all parties. I had done research on the topic, anticipated Twill’s concerns and was confident on the idea, and was able to easily answer all questions competently.</p>
          </div>

        </div>
      <!-- Section end div -->
      </div>

      <!-- Footer -->
      <hr>
      <footer>
        <div class="container">
          <div class="footer-content">


            <h2>Say hello</h2>
            <p>Feel free to reach out! I'm always happy to chat.</p>
            <p><a href="mailto:andreapastorp@gmail.com">andreapastorp@gmail.com</a></p>
            <div class="social">
              <p class="caption">
                <a target="_blank" href="https://www.linkedin.com/in/andreapastorp/">linkedin</a> /
                <a target="_blank" href="https://medium.com/@andreapastorp">medium</a>
              </p>
            </div>
            <p class="caption">@2021 Design by Andrea Pastor</p>

          </div>
        </div>
      </footer>

    <!-- Wrapper end div -->
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.7.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.7.0/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>

  </body>
</html>
